<section>
  <div class="row pt-5">
    <div class="col">
      <img src="assets/images/festas/festas-icon.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Festas exclusivas</h1>
    </div>
  </div>
  <div class="row -festas">
    <div class="col -festa">
      <div class="card -festa">
        <div class="card-image">
          <img src="assets/images/festas/white-party.png" alt="White Party">
        </div>
        <div class="card-text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui voluptate nihil accusantium? Cum ipsum debitis
            mollitia aliquam minus est, consectetur alias quo vero nobis, dolorem facere ullam quis illum autem?</p>
        </div>
      </div>
    </div>
    <div class="col -festa">
      <div class="card -festa">
        <div class="card-image">
          <img src="assets/images/festas/forma-fest.png" alt="Forma Fest">
        </div>
        <div class="card-text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui voluptate nihil accusantium? Cum ipsum debitis
            mollitia aliquam minus est, consectetur alias quo vero nobis, dolorem facere ullam quis illum autem?</p>
        </div>
      </div>
    </div>
    <div class="col -festa">
      <div class="card -festa">
        <div class="card-image">
          <img src="assets/images/festas/summer-party.png" alt="Summer Party">
        </div>
        <div class="card-text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui voluptate nihil accusantium? Cum ipsum debitis
            mollitia aliquam minus est, consectetur alias quo vero nobis, dolorem facere ullam quis illum autem?</p>
        </div>
      </div>
    </div>

  </div>
</section>
