section {
  width: 100%;
  background-image: url('/assets/images/parques/background.png');
  background-size: cover;

  .row {
    display: flex;

    .col {
      padding: 1em 2em;
      color: white;
      margin: 0 auto;
      display: flex;

      img {
        margin: 5em auto 0 auto;
      }

      h1 {
        margin: 0 auto;
        font-size: 3em;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }
}
