section {
  background-image: url('/assets/images/formulario/background.png');
  width: 100%;
  height: auto;
  padding: 2em 0;
  background-size: cover;

  .row {
    display: flex;

    .col {
      padding: 1em 2em;
      color: white;
      margin: 0 auto;
      display: flex;

      &.-formulario {
        flex-direction: column;

        p {
          color: #ececec;
          padding: 2em 0 1em 0;
          letter-spacing: 1px;
          margin: 0 auto;
        }
      }

      img {
        margin: 5em auto 0 auto;
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 60vw;
  min-width: 400px;
  max-width: 900px;

  input,
  textarea {
    padding: 16px;
    border-radius: 10px;
    margin: 10px;
    border-style: none;
    
  }
  textarea {
    font-family: sans-serif;
    resize: none;
}
  .input-group{
      display: flex;      
      width: 100%;
      &.-w6{
        width: 60%;
        input {
            width: 100%;
        }
      }
      &.-w4{
         width: 40%;
         input {
             width: 100%;
         }
      }
  }

  fieldset {
    display: inline-block;
    border: none;
    margin: 0;
    margin: 0;
    padding: 0;
  }

  button {
    margin: 10px;
    width: 200px;
    background-color: #b30d14;
    color: white;
    padding: 1.5em;
    align-self: flex-end;
    border-style: none;
    border-radius: 10px;
  }
}
